backend/node_modules/.bin/color-support.cmd
backend/node_modules/.bin/mime.cmd
backend/node_modules/.bin/mime.ps1
backend/node_modules/.bin/mkdirp.cmd
backend/node_modules/.bin/mkdirp.ps1
backend/node_modules/.bin/node-pre-gyp.cmd
backend/node_modules/.bin/node-pre-gyp.ps1
backend/node_modules/.bin/nodemon.cmd
backend/node_modules/.bin/nodemon.ps1
backend/node_modules/.bin/nodetouch.cmd
backend/node_modules/.bin/nodetouch.ps1
backend/node_modules/.bin/nopt.cmd
backend/node_modules/.bin/nopt.ps1
backend/node_modules/.bin/rimraf.cmd
backend/node_modules/.bin/rimraf.ps1
backend/node_modules/.bin/semver.cmd
backend/node_modules/.bin/semver.ps1
backend/node_modules/@mapbox/node-pre-gyp/node_modules/.bin/nopt.cmd
backend/node_modules/@mapbox/node-pre-gyp/node_modules/.bin/nopt.ps1
backend/node_modules/make-dir/node_modules/.bin/semver.cmd
backend/node_modules/make-dir/node_modules/.bin/semver.ps1
