.PasswordForm input{
    background-image: none;
    width: 100%;
    height: 100%;
    border: none;
    padding: 1em 1em 1em 1em;
    font-size: 1em;
    border-radius: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.PasswordForm  input:focus {
    background-color: lightblue;
    border: 1px solid black;
  }

.PasswordForm input::placeholder{
    color: #2C367E;
    font: 2em;
}